<article class='post'>
  <div class='title'>
    <a href='/post/{{post.id}}'>{{post.post_title}}</a>
  </div>

  <div class='singlePostCreator'>
    Posted by
    {{user.username}}
    on
    {{format_date created_at}}

    <div class='postBody'>
      {{#each post.post_content}}{{this}}<br />{{/each}}
    </div>

    <a href='/post/{{id}}'>{{comments.length}}
      {{format_plural 'comment' comments.length}}</a>
  </div>
</article>

<script src='/js/comment.js'></script>